body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    background-image: url(./img/work.jpg);
    background-size: cover;
    height: 100vh;
}

.open {
    width: 200px;
    background-color: #A52A2A;
    border: 2px solid black;
    border-radius: 16px;
    margin-top: 400px;
    margin-left: 309px;
}

.onwork {
    width: 200px;
    background-color: yellow;
    border: 2px solid black;
    border-radius: 16px;
    margin-top: 400px;
    margin-right: 100px;
}

.close {
    width: 200px;
    background-color: yellowgreen;
    border: 2px solid black;
    border-radius: 16px;
    margin-top: 400px;
    margin-right: 320px;
    margin-left: -1px;
}

.card {
    border: 1px solid grey;
    background-color: rgb(219, 219, 236) !important;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}