

  <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
    <div class="container">
      <!-- <a href="#" class="navbar-brand">Erwin Feld</a> -->
      <a href="#" class="navbar-brand">Kanban Board</a>

      <button
        

        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <!-- Add change ID from ancor tags -->
            <a href="../createTaskForm.html" class="nav-link">add Task</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">Board</a>
          </li>
          <li class="nav-item">
            <a href="../backLogVisual.html" class="nav-link">Back Log</a>
          </li>

          <li class="nav-item">
            <a href="#" class="nav-link">Impressum</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
